   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: "Poppins", sans-serif;
   }

   body {
       background-image: url("./img/2151683195.jpg");
       background-size: cover;
       background-position: center;
       height: 100vh;
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .container {
       width: 380px;
       background: #fff;
       padding: 2rem;
       border-radius: 15px;
       box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
       text-align: center;
   }

   h1 {
       margin-bottom: 10px;
       color: #222;
   }

   .subtitle {
       color: #666;
       font-size: 14px;
       margin-bottom: 20px;
   }

   input {
       width: 100%;
       padding: 12px;
       margin-top: 10px;
       border-radius: 10px;
       border: 1px solid #ccc;
       outline: none;
       font-size: 15px;
   }

   input:focus {
       border-color: #007bff;
   }

   .btn {
       width: 100%;
       margin-top: 15px;
       padding: 12px;
       border: none;
       border-radius: 10px;
       cursor: pointer;
       font-size: 15px;
       transition: 0.2s;
   }

   .btn-google {
       background: #fff;
       border: 2px solid #4285F4;
       color: #4285F4;
   }

   .btn-google:hover {
       background: #4285F4;
       color: #fff;
   }

   .btn-main {
       background: #0066ff;
       color: #fff;
   }

   .btn-main:hover {
       background: #0047b3;
   }

   #resultado {
       margin-top: 15px;
       font-size: 14px;
       color: #222;
   }

   .divider {
       margin: 20px 0;
       font-size: 14px;
       color: #777;
       position: relative;
   }

   .divider::before,
   .divider::after {
       content: "";
       width: 30%;
       height: 1px;
       background: #ccc;
       position: absolute;
       top: 50%;
   }

   .divider::before {
       left: 0;
   }

   .divider::after {
       right: 0;
   }

   .forgot-password, .back-login{
       margin-top: 10px;
       color: #1a73e8;
       font-weight: 500;
       cursor: pointer;
       text-align: center;
   }

   .forgot-password:hover {
       text-decoration: underline;
   }