* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #ffffff;
    height: 90px;
}

.logo {
    height: 90px;
    width: auto;
    position: absolute;
    left: 20px;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #24909e;
    font-size: 18px;
}

.nav-links a:hover {
    color: #516ad8;
}

.acesso{
    position: absolute;
    right: 20px;
    top: 45%;
    transform: translateY(-50%);
    display: flex;
    gap: 15px;

}
.btn{
    padding: 10px 20px;
    background-color: #24909e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

